ETCD_NAME={{ inventory_hostname }}
ETCD_DATA_DIR
ETCD_LISTEN_PEER_URLS=http://{{ ansible_host }}:2380
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ ansible_host }}:2380
ETCD_LISTEN_CLIENT_URLS=http://{{ ansible_host }}:2379
ETCD_ADVERTISE_CLIENT_URLS=http://{{ ansible_host }}:2379
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN=RwHWysDyZ3xXrLij
ETCD_INITIAL_CLUSTER={% for host in groups['etcd'] %}{{ host }}=http://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}
